{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">

                <h2 id="homeHeading">Modifier le profil</h2>
                <hr>

                <div style="margin-left: 160px">
                {{ form_start(form, {
                    'action': path('fos_user_profile_edit'),
                    'attr': { 'class': 'fos_user_profile_edit' }}) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.name) }}
                    </div>
                    {{ form_errors(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.firstname) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.firstname) }}
                    </div>
                    {{ form_errors(form.firstname) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.email) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.email) }}
                    </div>
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.description) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.description) }}
                    </div>
                    {{ form_errors(form.description) }}
                </div>

                {% if app.user.imageUrl.filename is defined %}
                    <p><img class="img-thumbnail" src="{{ asset('uploads/users/' ~ app.user.imageUrl.filename ) }}" style="height: 100px"></p>
                    <p><a href="{{ path('user_delete_image', {'id' : app.user.id}) }}"><input type="button" value="Modifier l'image"></a></p>
                {% else %}
                    <div class="form-group">
                        {{ form_label(form.imageUrl) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.imageUrl) }}
                        </div>
                        {{ form_errors(form.imageUrl) }}
                    </div>
                {% endif %}

                 {% if is_granted('ROLE_ADHERENT') %}
                     <div class="form-group">
                         {{ form_label(form.freeText) }}
                         <div class="col-sm-6" id="summernote">
                             {{ form_widget(form.freeText) }}
                         </div>
                         {{ form_errors(form.freeText) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(form.phone) }}
                         <div class="col-sm-6">
                             {{ form_widget(form.phone) }}
                         </div>
                         {{ form_errors(form.phone) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(form.webSite) }}
                         <div class="col-sm-6">
                             {{ form_widget(form.webSite) }}
                         </div>
                         {{ form_errors(form.webSite) }}
                     </div>
                     
                     <div class="form-group">
                         {{ form_label(form.facebook) }}
                         <div class="col-sm-6">
                             {{ form_widget(form.facebook) }}
                         </div>
                         {{ form_errors(form.facebook) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(form.twitter) }}
                         <div class="col-sm-6">
                             {{ form_widget(form.twitter) }}
                         </div>
                         {{ form_errors(form.twitter) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(form.linkedin) }}
                         <div class="col-sm-6">
                             {{ form_widget(form.linkedin) }}
                         </div>
                         {{ form_errors(form.linkedin) }}
                     </div>
                 {% else %}
                     <div class="form-hidden">
                         <div class="form-group">
                             {{ form_label(form.freeText) }}
                             <div class="col-sm-6">
                                 {{ form_widget(form.freeText) }}
                             </div>
                             {{ form_errors(form.freeText) }}
                         </div>
                         
                         <div class="form-group">
                             {{ form_label(form.phone) }}
                             <div class="col-sm-6">
                                 {{ form_widget(form.phone) }}
                             </div>
                             {{ form_errors(form.phone) }}
                         </div>
                         
                         <div class="form-group">
                             {{ form_label(form.webSite) }}
                             <div class="col-sm-6">
                                 {{ form_widget(form.webSite) }}
                             </div>
                             {{ form_errors(form.webSite) }}
                         </div>
                         
                          <div class="form-group">
                             {{ form_label(form.facebook) }}
                             <div class="col-sm-6">
                                 {{ form_widget(form.facebook) }}
                             </div>
                             {{ form_errors(form.facebook) }}
                         </div>

                         <div class="form-group">
                             {{ form_label(form.twitter) }}
                             <div class="col-sm-6">
                                 {{ form_widget(form.twitter) }}
                             </div>
                             {{ form_errors(form.twitter) }}
                         </div>

                         <div class="form-group">
                             {{ form_label(form.linkedin) }}
                             <div class="col-sm-6">
                                 {{ form_widget(form.linkedin) }}
                             </div>
                             {{ form_errors(form.linkedin) }}
                         </div>
                     </div>
                 {% endif %}

                <div class="form-group">
                    {{ form_label(form.current_password) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.current_password) }}
                    </div>
                    {{ form_errors(form.current_password) }}
                </div>

                {{ form_rest(form) }}

                <div class="col-sm-6 col-sm-offset-2 text-center">
                    <input type="submit" value="{{ 'Valider'|trans }}" class="col-sm-offset-1 btn btn-default btn-xl sr-button"/>
                </div>

                    {{ form_widget(form._token) }}
                </form>
                </div>

            </div>
        </div>
    </header>

{% endblock %}

