{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">

                <h2 id="homeHeading">Modifier le profil</h2>
                <hr>

                <div style="margin-left: 160px">
                {{ form_start(form, {
                    'action': path('fos_user_profile_edit'),
                    'attr': { 'class': 'fos_user_profile_edit' }}) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.name) }}
                    </div>
                    {{ form_errors(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.firstname) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.firstname) }}
                    </div>
                    {{ form_errors(form.firstname) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.email) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.email) }}
                    </div>
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.description) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.description) }}
                    </div>
                    {{ form_errors(form.description) }}
                </div>

                <div class="form-group">
                    <label class="col-sm-2" style="margin-left: 10px">Image actuelle</label>
                    <div class="col-sm-1">
                        {% if user.imageUrl == null %}
                            <img src="{{ asset('img/person_placeholder.png') }}" alt="placeholder" style="height: 70px">
                        {% else %}
                            <img src="{{ asset('uploads/users/' ~ user.imageUrl.filename) }}" alt="{{ user.name }}" style="height: 70px">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.imageUrl) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.imageUrl) }}
                    </div>
                    {{ form_errors(form.imageUrl) }}
                </div>

                 {% if is_granted('ROLE_ADHERENT') %}
                     <div class="form-group">
                         {{ form_label(form.freeText) }}
                         <div class="col-sm-6" id="summernote">
                             {{ form_widget(form.freeText) }}
                         </div>
                         {{ form_errors(form.freeText) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(form.phone) }}
                         <div class="col-sm-6">
                             {{ form_widget(form.phone) }}
                         </div>
                         {{ form_errors(form.phone) }}
                     </div>

                     <div class="form-group">
                         {{ form_label(form.webSite) }}
                         <div class="col-sm-6">
                             {{ form_widget(form.webSite) }}
                         </div>
                         {{ form_errors(form.webSite) }}
                     </div>

                     {# ---- corrigé dans un prochain pull request ---- #}
                     {#<div class="form-group">#}
                         {#{{ form_label(form.address) }}#}
                         {#<div class="col-sm-6">#}
                             {#{{ form_widget(form.address) }}#}
                         {#</div>#}
                         {#{{ form_errors(form.address) }}#}
                     {#</div>#}

                 {% endif %}

                <div class="form-group">
                    {{ form_label(form.current_password) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.current_password) }}
                    </div>
                    {{ form_errors(form.current_password) }}
                </div>

                {{ form_rest(form) }}

                <div class="col-sm-6 col-sm-offset-2 text-center">
                    <input type="submit" value="{{ 'Valider'|trans }}" class="col-sm-offset-1 btn btn-default btn-xl sr-button"/>
                </div>
                {{ form_end(form) }}
                </div>

            </div>
        </div>
    </header>
{% endblock %}
