{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="container-fluid profileUser">

        <div class="col-xs-12 text-center">
            <h1 class="title-view">{{ user.name }} {{ user.firstname }}</h1>
            <div class="separation barreGreen"></div>
        </div>

        <div class="row">
            <div class="col-lg-offset-1 col-lg-2">
                {% if user.imageUrl == null %}
                    <img src="{{ asset('img/person_placeholder.png') }}" alt="placeholder" class="placeholder-show-profile">
                {% else %}
                    <img src="{{ asset('uploads/users/' ~ user.imageUrl) }}" alt="{{ user.name }}"
                         style="height: 70px">
                {% endif %}
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <h2>{{ user.website }}</h2>
                    <p>{{ user.description }}</p>
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">Editer</a>
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-default">Modifier le mot de passe</a>
                    {% if not is_granted('ROLE_ADHERENT') %}
                        <a href="" class="btn btn-default">Devenir Adhérent</a>
                    {% endif %}
                </div>
            </div>
        </div>


        {% if is_granted('ROLE_ADHERENT') %}
            <div class="row iconContact">
                {% if user.facebook != null %}
                    <div class="col-lg-offset-1 col-lg-1">
                        <a target="_blank" href="{{ user.facebook }}">
                            <img src="{{ asset('/img/rs-facebook.png') }}" alt="facebook" class="rs-button"/>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ user.facebook }}</h3>
                    </div>
                {% endif %}

                {% if user.twitter != null %}
                    <div class="col-lg-offset-1 col-lg-1">
                        <a href="{{ user.twitter }}" target="_blank">
                            <img src="{{ asset('/img/rs-twitter.png') }}" alt="twitter" class="rs-button"/>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <h3><a href="{{ user.twitter }}" target="_blank"></a>{{ user.twitter }}</h3>
                    </div>
                {% endif %}

                {% if user.linkedin != null %}
                    <div class="col-lg-offset-1 col-lg-1">
                        <a href="{{ user.linkedin }}" target="_blank">
                            <img src="{{ asset('/img/rs-linkedin.png') }}" alt="linkedin" class="rs-button"/>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ user.linkedin }}</h3>
                    </div>
                {% endif %}
            </div>

            <div class="row iconContact">
                {% if user.email != null %}
                    <div class="col-lg-offset-1 col-lg-1">
                        <img src="{{ asset('/img/mail.png') }}" alt="email" class="rs-button"/>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ user.email }}</h3>
                    </div>
                {% endif %}

                {% if user.phone != null %}
                    <div class="col-lg-offset-1 col-lg-1">
                        <img src="{{ asset('/img/tel.png') }}" alt="telephone" class="rs-button"/>
                    </div>
                    <div class="col-lg-2">
                        <h3>{{ user.phone }}</h3>
                    </div>
                {% endif %}
                {% if user.webSite != null %}
                    <div class="col-lg-offset-1 col-lg-1">
                        <img src="{{ asset('/img/internet.png') }}" alt="site web" class="rs-button"/>
                    </div>
                    <div class="col-lg-2">
                        <h3>{{ user.webSite }}</h3>
                    </div>
                {% endif %}
            </div>

            <div class="col-xs-12 text-center">
                <div class="separation"></div>
            </div>

            <div class="text-center">
                <h2>Mes événements</h2>
                <div class="separation barreGreen"></div>
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p><a href="{{ path('event_new') }}" class="btn btn-default btn-xs" role="button">Créer un nouvel
                        évènement</a></p>
            {% endif %}

            <h3 class="col-lg-offset-1">Evènements en attente</h3>

            <table class="text-center">
                <thead>
                <tr>
                    <th>TITRE</th>
                    <th>DESCRIPTION</th>
                    <th>ADRESSE</th>
                    <th>STATUS</th>
                    <th>MODIFIER</th>
                    <th>SUPPRIMER</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.address }}</td>
                        <td>
                            {% if event.rejected == 0 %}
                                Attente
                            {% else %}
                                Refusé
                            {% endif %}
                        </td>
                        <td><a href="{{ path('event_edit_await') }}"><button type="button" class="btn btn-submit">OUI</button></a></td>
                        <td><a href="{{ path('event_delete_await') }}"><button type="button" class="btn btn-submit">OUI</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3 class="col-lg-offset-1">Evènements Publiés</h3>

            <table class="text-center">
                <thead>
                <tr>
                    <th>TITRE</th>
                    <th>DESCRIPTION</th>
                    <th>ADRESSE</th>
                    <th>MODIFIER</th>
                    <th>SUPPRIMER</th>
                </tr>
                </thead>
                <tbody>
                {% for oaevent in oaevents %}
                    <tr>
                        <td>{{ oaevent.title }}</td>
                        <td>{{ oaevent.description }}</td>
                        <td>{{ oaevent.address }}</td>
                        <td><a href="{{ path('event_edit_published') }}"><button type="button" class="btn btn-submit">OUI</button></a></td>
                        <td><a href="{{ path('event_delete_published') }}"><button type="button" class="btn btn-submit">OUI</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

    </div>
{% endblock %}




