<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NUM'O{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Lato:300') }}">
            <link rel="stylesheet" href="{{ asset('http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css') }}">


        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="page-top">
        {% block header %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>

</html>
