{% extends 'base.html.twig' %}


{% block header %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->


            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>

                    <a class="navbar-brand page-scroll" href="{{ path('index') }}">  <img src="{{ asset('img/NUMOsmall.png') }}" class="img-responsive" alt="" width="100px">
                    </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll" href="{{ path('association') }}">Association</a>

                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('event_list') }}">Agenda</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('members') }}" >Membres</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('become_adherent') }}" >Devenez membre</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('contact') }}">Contact</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </li>
                        <li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <span class="glyphicon glyphicon-bell navbar-right" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-cog navbar-right" aria-hidden="true"></span>
                                <p>{{ app.user.name }} {{ app.user.firstname }}</p>
                                <a href="/app_dev.php/logout" class="btn btn-default navbar-right">Deconnexion</a>
                                <a href="/app_dev.php/profile/" class="btn btn-default navbar-right">Profil</a>
                            {% else %}
                                <a href="/app_dev.php/login" class="btn btn-default">Connexion</a>
                        </li>
                        <li>
                                <a href="/register/" class="btn btn-default inscription">S'inscrire</a>
                        </li>
                            {%endif%}
                    </ul>
                </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}


{% block footer %}
    <footer>

        <div class="footer-last text-center">
            <p class="footer-legal">
                2017 © NUM'O - Site Web crée par David, Fanny, Patrick et Sarah de la Wild Code School Orléans
                <br/>
                <a data-toggle="modal" data-target="#legal">Mentions légales</a>
            </p>
        </div>
        <div class="modal fade" id="legal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Informations légales</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
