{% extends 'base.html.twig' %}

{% block header %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navWhite font-lato">
        <div class="container-fluid">
        <div class="navbar-header text-center">
            <a class="navbar-brand page-scroll" href="{{ path('admin_accueil') }}">
                <img src="{{ asset('img/NUMOsmall.png') }}" class="img-responsive navbar-logo" alt="numo logo">
            </a>
            <button type="button" class="navbar-toggle collapsed navbar-burger" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menu  font-oswald" id="navbar-collapsed">
            <ul class="nav navbar-nav navbar-list font-lato navadmin">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="hoverAssociation" href="{{ path('company_show', { 'id': 1 }) }}">INFORMATIONS DE L'ASSOCIATION</a></li>
                    <li><a class="hoverMembres" href="{{ path('memberstatus_index') }}">MEMBRES</a></li>
                    <li><a class="hoverAdherer" href="{{ path('partner_index') }}">PARTENAIRES</a></li>
                {% endif %}
                <li><a class="hoverAgenda" href="{{ path('events_index') }}">EVENEMENTS</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
