{% extends 'base.html.twig' %}


{% block header %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navWhite font-lato">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{ path('index') }}">
                    <img src="{{ asset('img/NUMOsmall.png') }}" class="img-responsive navbar-logo" alt="numo logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll hoverAssociation" href="{{ path('association') }}"><span class="front-lato"> Association</span></a>

                        </li>
                        <li>
                            <a class="page-scroll hoverAgenda" href="{{ path('event_list_published') }}"><span class="front-lato">Agenda</span> </a>
                        </li>
                        <li>
                            <a class="page-scroll hoverMembres" href="{{ path('members') }}" ><span class="front-lato"> Membres</span> </a>
                        </li>
                        <li>
                            <a class="page-scroll hoverAdherer" href="{{ path('become_adherent') }}" ><span class="front-lato"> Devenez Adhérent</span> </a>
                        </li>
                        <li>
                            <a class="page-scroll hoverContact" href="{{ path('contact') }}"><span class="front-lato"> Contact </span> </a>
                        </li>

                    </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}" class="glyphicon glyphicon-user"><span class="front-lato"> {{ app.user.name }} {{ app.user.firstname }}</span></a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}" class="glyphicon glyphicon-log-in"><span class="font-lato"> Deconnexion</span></a>
                            </li>

                            {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}" class="glyphicon glyphicon-log-in"><span class="font-lato"> Connexion</span></a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}" class="glyphicon glyphicon-user"><span class="font-lato"> S'inscrire</span></a>
                            </li>
                            {%endif%}
                          </ul>

                </div>

        </div>
        <!-- /.container-fluid -->

    </nav>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissable text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}


{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
