{% extends 'base.html.twig' %}


{% block header %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navWhite">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{ path('index') }}">
                    <img src="{{ asset('img/NUMOsmall.png') }}" class="img-responsive navbar-logo" alt="numo logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll hoverAssociation" href="{{ path('association') }}">Association</a>

                        </li>
                        <li>
                            <a class="page-scroll hoverAgenda" href="{{ path('event_list_published') }}">Agenda</a>
                        </li>
                        <li>
                            <a class="page-scroll hoverMembres" href="{{ path('members') }}" >Membres</a>
                        </li>
                        <li>
                            <a class="page-scroll hoverAdherer" href="{{ path('become_adherent') }}" >Devenez Adhérent</a>
                        </li>
                        <li>
                            <a class="page-scroll hoverContact" href="{{ path('contact') }}">Contact</a>
                        </li>

                    </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}" class="glyphicon glyphicon-user"> {{ app.user.name }} {{ app.user.firstname }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}" class="glyphicon glyphicon-log-in"> Deconnexion</a>
                            </li>

                            {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}" class="glyphicon glyphicon-log-in"> Connexion</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}" class="glyphicon glyphicon-user"> S'inscrire</a>
                            </li>
                            {%endif%}
                          </ul>
                </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}


{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
