{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adress</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adress.id }}</td>
            </tr>
            <tr>
                <th>Addr1</th>
                <td>{{ adress.addr1 }}</td>
            </tr>
            <tr>
                <th>Addr2</th>
                <td>{{ adress.addr2 }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ adress.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ adress.city }}</td>
            </tr>
            <tr>
                <th>Geolat</th>
                <td>{{ adress.geoLat }}</td>
            </tr>
            <tr>
                <th>Geolng</th>
                <td>{{ adress.geoLng }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adress_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adress_edit', { 'id': adress.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
