{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evtdates list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Evtdate</th>
                <th>Timestart</th>
                <th>Timeend</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evtDate in evtDates %}
            <tr>
                <td><a href="{{ path('evtdate_show', { 'id': evtDate.id }) }}">{{ evtDate.id }}</a></td>
                <td>{% if evtDate.evtDate %}{{ evtDate.evtDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if evtDate.timeStart %}{{ evtDate.timeStart|date('H:i:s') }}{% endif %}</td>
                <td>{% if evtDate.timeEnd %}{{ evtDate.timeEnd|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evtdate_show', { 'id': evtDate.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('evtdate_edit', { 'id': evtDate.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evtdate_new') }}">Create a new evtDate</a>
        </li>
    </ul>
{% endblock %}
