{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evtdate</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evtDate.id }}</td>
            </tr>
            <tr>
                <th>Evtdate</th>
                <td>{% if evtDate.evtDate %}{{ evtDate.evtDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Timestart</th>
                <td>{% if evtDate.timeStart %}{{ evtDate.timeStart|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Timeend</th>
                <td>{% if evtDate.timeEnd %}{{ evtDate.timeEnd|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evtdate_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('evtdate_edit', { 'id': evtDate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
