{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container font-lato">
        <h1 class="titreadmin font-lato">EVENEMENTS</h1>
        <table>
            <thead>
            <tr class="text-center admin">
                <th class="text-center">NOM DE L'EVENEMENT</th>
                <th class="text-center">DATE</th>
                <th class="text-center">PROPOSE PAR</th>
                <th class="text-center">STATUT</th>
                <th class="text-center">ACTION</th>
            </tr>
            </thead>
            <tbody>
            {% for publishedadmin in publishedadmins %}
                <tr>
                    <td class="admin"><p class="moderate">{{ publishedadmin.title }}</td>
                    <td class="admin">{{ publishedadmin.moderatorUpdateDate|date('d/m/Y') }}</td>
                    <td class="admin">{{ publishedadmin.moderator }}</td>
                    {%  if publishedadmin.deleted == 0 %}
                    <td class="admin">Publié</td>
                    {% endif %}
                    <td><a href="{{ path('event_edit_published', {'id' : publishedadmin.id}) }}"><button type="button" value="MODIFIER">MODIFIER</button></a>
                    <a href="{{ path('event_delete_published', {'id' : publishedadmin.id}) }}"><button type="button" class="moderate" value="MODIFIER">SUPPRIMER</button></a></td>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}