{% extends 'layoutAdmin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block body %}
    <div class="container font-lato">
        <h1 class="titreadmin font-lato">EVENEMENTS</h1>

        <div class="row">
            <table>
                <thead>
                <h2>Evénements à modérer</h2>
                <hr>
                <tr class="text-center admin">
                    <th class="text-center">NOM DE L'EVENEMENT</th>
                    <th class="text-center">CREE LE</th>
                    <th class="text-center">PROPOSE PAR</th>
                    <th class="text-center">VOIR LE DETAIL</th>
                    <th class="text-center">ACTION</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                {% if event.rejected == 0 %}
                <tr>
                    <td class="admin"><p class="moderate">{{ event.title }}</td>
                    <td class="admin">{{ event.creationDate|date('d/m/Y') }}</td>
                    <td class="admin">{{ event.author }}</td>
                    <td><a href="{{ path('event_show_await', {'id' : event.id}) }}">
                            <button type="button" value="MODIFIER"><span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </a>
                    <td>
                        <a href="{{ path('event_approved', {'id' : event.id}) }}">
                            <button type="button" value="MODIFIER">PUBLIER</button>
                        </a>
                        <button type="button" class="button-admin" data-toggle="modal" data-target="#exampleModal"
                                data-id="{{ event.id }}" data-title="{{ event.title }}" data-email="{{ event.author.email }}">REFUSER
                        </button>
                    </td>

                    {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
            <hr>

        </div>
        <div class="row">
            <table>
                <thead>
                <h2>Evénements publiés</h2>
                <hr>
                <tr class="text-center admin">
                    <th class="text-center">NOM DE L'EVENEMENT</th>
                    <th class="text-center">DERNIERE MODIFICATION</th>
                    <th class="text-center">PROPOSE PAR</th>
                    <th class="text-center">STATUT</th>
                    <th class="text-center">ACTION</th>
                </tr>
                </thead>
                <tbody class="list">
                {% for publishedevent in publishedevents %}
                <tr class="showPublished">
                    <td class="admin"><p class="moderate">{{ publishedevent.title }}</td>
                    <td class="admin">{{ publishedevent.moderatorUpdateDate|date('d/m/Y') }}</td>
                    <td class="admin">{{ publishedevent.moderator }}</td>
                    {% if publishedevent.deleted == 0 %}
                        <td class="admin">Publié</td>
                    {% endif %}
                    <td><a href="{{ path('event_delete_published', {'id' : publishedevent.id}) }}">
                            <button type="button" value="MODIFIER">MODIFIER</button>
                        </a>
                        <a href="{{ path('event_delete_published', {'id' : publishedevent.id}) }}">
                            <button type="button" class="moderate" value="MODIFIER">SUPPRIMER</button>
                        </a></td>

                    {% endfor %}
                </tbody>
            </table>
            <a id="next" class="btn btn-success btnGreen btn-lg">Voir plus</a>
            <hr>
        </div>

    </div>
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog modal-sm text-center moderation-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title font-lato"></h4>
                </div>
                <div class="modal-body font-lato">
                    {{ form_start(form) }}
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_label(form.comment) }}
                    {{ form_widget(form.comment) }}
                    {{ form_errors(form.comment) }}
                    {{ form_label(form.contactEmail) }}
                    {{ form_widget(form.contactEmail) }}
                    <input type="submit" class="btn btn-default btn-send"/>
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/published.js') }}"></script>
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var title = button.data('title');
            var email = button.data('email');
            var modal = $(this);
            modal.find('#moderation_eventId').val(id)
            modal.find('.modal-title').text('Refuser l\'événement ' + title);
            modal.find('#moderation_title').val(title);
            modal.find('.btn-send').val('Envoyer à '+ email);
            modal.find('#moderation_contactEmail').val(email);

        })
    </script>

{% endblock %}