{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/eventstyle.css') }}">
{% endblock %}

{% block body %}
    <div class="container">

            {# --- titre --------------------------------------------------------------------------------#}
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Suppression d'un évènement non publié</h1>
                {{ form_start(form) }}
                {{ form_widget(form.delete, {'attr': {'class': 'btn btn-default btn-txt btn-sep'}}) }}
                <a href="{{ path(goBack) }}" class="btn btn-default btn-txt" role="button">Ne pas supprimer</a>
                {{ form_end(form) }}
                <div class="separation"></div>
            </div>
        </div>

        <div class="row">

    {# --- partie gauche (image + descriptif) -------------------------------------------------- #}
                <div class="col-xs-12 col-md-8 text-center">
                    <h2>{{ event.title }}</h2>
                    <p>Catégorie : {{ event.tags.name }}</p>
                    <p>
                        {% if event.image is empty %}
                            <img src="{{ asset('/img/event_placeholder.png') }}" alt="" class="img-responsive center-block" />
                        {% else %}
                            <img src="{{ asset(imgDir ~ event.image) }}" alt="image {{ event.title }}" class="img-responsive center-block" />
                        {% endif %}
                    </p>
                    <p>{{ event.description }}</p>
                </div>

    {# --- partie droite (date + geoloc + ...  ------------------------------------------------- #}
                <div class="col-xs-12 col-md-4 text-center">

                    {# --- date(s) --- #}
                    {%  set nbDates = oldDates|length + newDates|length %}
                    <h3>
                        {% transchoice nbDates %}
                        {0} Aucune date prévue|{1} 1 date|]1,Inf] %nbDates% Dates
                        {% endtranschoice %}
                    </h3>

                    <table class="table">
                        <tbody>
                            {# --- dates passees --------------------------------------------------- #}
                            {% if oldDates|length > 1 %}
                                <tr><td class="text-left grey-text">...</td><td></td></tr>
                            {% endif %}
                            {% if oldDates is not empty %}
                                <tr>
                                    <td class="text-left grey-text">
                                        {{ oldDates|last.evtDate|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}
                                    </td>
                                    <td class="text-right grey-text">
                                        {{ oldDates|last.timeStart|localizeddate("medium", "none", null, null, "HH'h'mm") }}
                                        à {{ oldDates|last.timeEnd|localizeddate("medium", "none", null, null, "HH'h'mm") }}
                                    </td>
                                </tr>
                            {% endif %}
                            {# --- Prochaines dates ------------------------------------------------ #}
                            {% for evtDate in newDates|slice(0, 4) %}
                                <tr>
                                    <td class="text-left {% if loop.index == 1 %} strong-text {% endif %}">
                                        {{ evtDate.evtDate|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}
                                    </td>
                                    <td class="text-right {% if loop.index == 1 %} strong-text {% endif %}">
                                        {{ evtDate.timeStart|localizeddate("medium", "none", null, null, "HH'h'mm") }}
                                        à {{ evtDate.timeEnd|localizeddate("medium", "none", null, null, "HH'h'mm") }}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if newDates|length > 5 %}
                                <tr><td class="text-left">...</td><td></td></tr>
                            {% endif %}
                        </tbody>
                    </table>

                    {# --- adresse ------------------------------------------------------------- #}
                    <div class="separation"></div>
                    <h3>Lieu</h3>
                    <p>{{ event.placename }}</p>
                    <p>{{ event.address }}</p>

                    {# --- organisateur -------------------------------------------------------- #}
                    <div class="separation"></div>
                    <h3>Organisé par</h3>
                    <p>
                        {% if event.author.imageUrl is not empty %}
                            <img class="little-img" src="{{ event.author.imageUrl }}" alt="image organisateur {{ event.author.name }}" />
                        {% endif %}
                        {{ event.author.name }} {{ event.author.firstname }}
                    </p>
                </div>

        </div>
    </div>

{% endblock %}

