{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Freetext</th>
                <th>Tags</th>
                <th>Placename</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Ticketlink</th>
                <th>Pricinginfo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.status }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.freeText }}</td>
                <td>{{ event.tags }}</td>
                <td>{{ event.placename }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.latitude }}</td>
                <td>{{ event.longitude }}</td>
                <td>{{ event.ticketLink }}</td>
                <td>{{ event.pricingInfo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
