{# --- src/NumoBundle/Resources/views/event/new.html.twig --- #}

{% extends 'layout.html.twig' %}

{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/eventstyle.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid bg-form">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Nouvel évènement</h2>
                <a href="{{ path('event_list') }}" class="btn btn-default btn-xs" type="button">Retour à la liste</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">

                <div class="sep"></div>

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# --- event ---------------------------------------------------------------------- #}
                <h3>Description de l'évènement</h3>

                <div class="form-group">
                    {{ form_label(form.title, '* Nom', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'onkeydown': 'clearHtml("errortitle");'}}) }}
                    </div>
                    <span class="erreur" id="errortitle"> {{ form_errors(form.title)|striptags }} </span>
                </div>

                <div class="form-group">
                    {{ form_label(form.description, '* Description succincte', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'onkeydown': 'clearHtml("errordesc");'}}) }}
                    </div>
                    <span class="erreur" id="errordesc"> {{ form_errors(form.description)|striptags }} </span>
                </div>

                <div class="form-group">
                    {{ form_label(form.freeText, 'Description détaillée', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.freeText, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.tags, 'Mots-clé', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.tags, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <hr>

                {# --- locations ---------------------------------------------------------------------- #}
                <h3>Description du lieu</h3>

                <div class="form-group">
                    {{ form_label(form.placename, '* Nom du lieu', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.placename, {'attr': {'class': 'form-control', 'onkeydown': 'clearHtml("errorplacename");'}}) }}
                    </div>
                    <span class="erreur" id="errorplacename"> {{ form_errors(form.placename)|striptags }} </span>
                </div>

                <div class="form-group">
                    {{ form_label(form.address, '* Adresse complète', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.address, {'attr': {'class': 'form-control', 'onkeydown': 'clearHtml("erroraddr");clearHtml("addrmessage");', 'onfocusout': 'scanAddress();'}}) }}
                    </div>
                    <span class="erreur" id="erroraddr"> {{ form_errors(form.address)|striptags }} </span>
                    <span id="addrmessage"></span>
                </div>
                <input type="hidden" name="latitude" id="latitude" value="">
                <input type="hidden" name="longitude" id="longitude" value="">

                <div class="form-group">
                    {{ form_label(form.pricingInfo, 'Informations sur la tarification', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.pricingInfo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.ticketLink, 'Lien vers la billetterie', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.ticketLink, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>




                {# --- dates ---------------------------------------------------------------------- #}





                <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-group text-center">
                <button class="btn btn-default type="submit">Créer</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="{{ path('event_list') }}">Abandonner</a>
                </div>
                </div>




                {{ form_end(form) }}
            </div>
        </div>


    </div>

{% endblock %}



                            {# --- dates -------------------------------------------------------------------------- #}
                            {#<div class="separation"></div>#}
                            {#<h4>Date(s) de l'évènement</h4>#}
                            {#{% for evtDate in form.evtDates %}#}

                                {#{{ form_label(evtDate.evtDate, '* Date de l\'évènement') }}#}
                                {#<span class="erreur" id="errorevtdate{{ loop.index }}"> {{ form_errors(evtDate.evtDate)|striptags }} </span>#}
                                {#{{ form_widget(evtDate.evtDate, { 'attr': {'class': 'form-control ecart-bas'} }) }}#}

                                {#{{ form_label(evtDate.timeStart, '* Horaire de début') }}#}
                                {#<span class="erreur" id="errortstart{{ loop.index }}"> {{ form_errors(evtDate.timeStart)|striptags }} </span>#}
                                {#{{ form_widget(evtDate.timeStart, { 'attr': {'class': 'form-control ecart-bas'} }) }}#}

                                {#{{ form_label(evtDate.timeEnd, '* Horaire de fin') }}#}
                                {#<span class="erreur" id="errortend{{ loop.index }}"> {{ form_errors(evtDate.timeEnd)|striptags }} </span>#}
                                {#{{ form_widget(evtDate.timeEnd, { 'attr': {'class': 'form-control ecart-bas'} }) }}#}

                            {#{% endfor %}#}




                        {#</div>#}
                    {#</div>#}

                    {#<div class="row">#}
                        {#<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-group text-center">#}
                            {#<button class="btn btn-default type="submit">Créer</button>#}
                            {#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
                            {#<a class="btn btn-default" href="{{ path('event_list') }}">Abandonner</a>#}
                        {#</div>#}
                    {#</div>#}

                    {#{{ form_end(form) }}#}

                {#{% else %}#}

                    {#<div class="row">#}
                        {#<div class="col-xs-12 erreur text-center">#}
                            {#{{ error }}#}
                        {#</div>#}
                    {#</div>#}

                {#{% endif %}#}

            {#</div>#}
        {#</div>#}
    {#</header>#}





{#{% endblock %}#}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/newevent.js') }}"></script>
    <script>geocoder = new google.maps.Geocoder();</script>
{% endblock %}