{# --- src/NumoBundle/Resources/views/event/new.html.twig --- #}

{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="{{ path('event_list') }}" class="btn btn-default" type="button">Retour à la liste</a>
        </div>
    </div>

    {% if error == '' %}

        {{ form_start(form) }}

        <div class="row ecart-haut">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-group">

                <h4>Description de l'évènement</h4>

                <input type="hidden" name="status" value="1">

                {# provisoire #}
                <input type="hidden" name="link" value="">
                <input type="hidden" name="image" value="">
                <input type="hidden" name="latitude" value="0.0">
                <input type="hidden" name="longitude" value="0.0">


                {{ form_label(form.title, '* Nom de l\'évènement') }}
                <span class="erreur"> {{ form_errors(form.title)|striptags }} </span>
                {{ form_widget(form.title, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                {{ form_label(form.description, '* Description succincte de l\'évènement') }}
                <span class="erreur"> {{ form_errors(form.description)|striptags }} </span>
                {{ form_widget(form.description, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                {{ form_label(form.freeText, 'Description détaillée de l\'évènement') }}
                {{ form_widget(form.freeText, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                {{ form_label(form.tags, 'Mots-clé pour la recherche (sans accents, séparés par une virgule)') }}
                {{ form_widget(form.tags, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                {# --- locations ---------------------------------------------------------------------- #}
                <div class="separation"></div>
                <h4>Description du lieu</h4>

                {{ form_label(form.placename, '* Nom du lieu de l\'évènement') }}
                <span class="erreur"> {{ form_errors(form.placename)|striptags }} </span>
                {{ form_widget(form.placename, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                {{ form_label(form.address, '* Adresse complète') }}
                <span class="erreur"> {{ form_errors(form.address)|striptags }}</span>
                <span id="addrmessage"></span>
                {{ form_widget(form.address, { 'attr': {'class': 'form-control ecart-bas', 'onkeydown': 'delAddrMessage();', 'onfocusout': 'scanAddress();'} }) }}
                <input type="hidden" name="latitude" id="latitude" value="">
                <input type="hidden" name="longitude" id="longitude" value="">

                {{ form_label(form.pricingInfo, 'Informations sur la tarification') }}
                {{ form_widget(form.pricingInfo, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                {{ form_label(form.ticketLink, 'Lien vers la billetterie') }}
                {{ form_widget(form.ticketLink, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                {# --- dates -------------------------------------------------------------------------- #}
                <div class="separation"></div>
                <h4>Date(s) de l'évènement</h4>
                {% for evtDate in form.evtDates %}

                    {{ form_label(evtDate.evtDate, '* Date de l\'évènement') }}
                    <span class="erreur"> {{ form_errors(evtDate.evtDate)|striptags }} </span>
                    {{ form_widget(evtDate.evtDate, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                    {{ form_label(evtDate.timeStart, '* Horaire de début') }}
                    <span class="erreur"> {{ form_errors(evtDate.timeStart)|striptags }} </span>
                    {{ form_widget(evtDate.timeStart, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                    {{ form_label(evtDate.timeEnd, '* Horaire de fin') }}
                    <span class="erreur"> {{ form_errors(evtDate.timeEnd)|striptags }} </span>
                    {{ form_widget(evtDate.timeEnd, { 'attr': {'class': 'form-control ecart-bas'} }) }}

                {% endfor %}




            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-group text-center">
                <button class="btn btn-default type="submit">Créer</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="{{ path('event_list') }}">Abandonner</a>
            </div>
        </div>

        {{ form_end(form) }}

    {% else %}

        <div class="row">
            <div class="col-xs-12 erreur text-center">
                {{ error }}
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/scanaddress.js') }}"></script>
    {#<script>geocoder = new google.maps.Geocoder();</script>#}
{% endblock %}