{% extends 'layoutAdmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/eventstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fullcalendar.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

    {# --- titre --------------------------------------------------------------------------------#}
            <div class="col-xs-12 text-center">
                <h1>{{ event.title }}</h1>

{# --- provisoire pour tester les fonctions --- #}
                <a href="{{ path('events_index') }}" class="btn btn-default btn-txt btn-sep" role="button">RETOUR A LA LISTE</a>
                <a href="{{ path('event_edit_await', {'id': event.id}) }}" class="btn btn-default btn-txt btn-sep" role="button">EDITER</a>
                <a href="{{ path('event_delete_await', {'id': event.id}) }}" class="btn btn-default btn-txt btn-sep" role="button">SUPPRIMER</a>
                {# ------------------ #}

                <div class="separation"></div>
            </div>

    {# --- partie gauche (image + descriptif) -------------------------------------------------- #}
            <div class="col-xs-12 col-md-8 text-center">
                <p>Catégorie : {{ event.tags.name }}</p>
                <p>
                    {% if event.image is empty %}
                        <img src="{{ asset('/img/event_placeholder.png') }}" alt="" class="img-responsive center-block" />
                    {% else %}
                        <img src="{{ asset(imgDir ~ event.image) }}" alt="image {{ event.title }}" class="img-responsive center-block" />
                    {% endif %}
                </p>
                <p>{{ event.description }}</p>
                <p>{{ event.freeText }}</p>

            </div>

    {# --- partie droite (date + geoloc + ...  ------------------------------------------------- #}
            <div class="col-xs-12 col-md-4 text-center">

                {# --- date(s) --- #}
                {% set nbDates = oldDates|length + newDates|length %}
                <h3>
                    {% transchoice nbDates %}
                        {0} Aucune date prévue|{1} 1 date|]1,Inf] %nbDates% Dates
                    {% endtranschoice %}
                </h3>

                <table class="table">
                    <tbody>
                        {# --- dates passees --------------------------------------------------- #}
                        {% if oldDates|length > 1 %}
                            <tr><td class="text-left grey-text">...</td><td></td></tr>
                        {% endif %}
                        {% if oldDates is not empty %}
                            <tr>
                                <td class="text-left grey-text">
                                    {{ oldDates|last.evtDate|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}
                                </td>
                                <td class="text-right grey-text">
                                    {{ oldDates|last.timeStart|localizeddate("medium", "none", null, null, "HH'h'mm") }}
                                    à {{ oldDates|last.timeEnd|localizeddate("medium", "none", null, null, "HH'h'mm") }}
                                </td>
                            </tr>
                        {% endif %}
                        {# --- Prochaines dates ------------------------------------------------ #}
                        {% for evtDate in newDates|slice(0, 4) %}
                            <tr>
                                <td class="text-left {% if loop.index == 1 %} strong-text {% endif %}">
                                    {{ evtDate.evtDate|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}
                                </td>
                                <td class="text-right {% if loop.index == 1 %} strong-text {% endif %}">
                                    {{ evtDate.timeStart|localizeddate("medium", "none", null, null, "HH'h'mm") }}
                                    à {{ evtDate.timeEnd|localizeddate("medium", "none", null, null, "HH'h'mm") }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if newDates|length > 5 %}
                            <tr><td class="text-left">...</td><td></td></tr>
                        {% endif %}
                    </tbody>
                </table>

                {# --- adresse ------------------------------------------------------------- #}
                <div class="separation"></div>
                <h3>Lieu</h3>
                <p>{{ event.placename }}</p>
                <p>{{ event.address }}</p>

                {# --- map ----------------------------------------------------------------- #}
                <div class="separation"></div>
                <div id="closemap" class="text-center cursor-pointer" onclick="closeMap();">X</div>
                <div id="mapzone"></div>

                {# --- billetterie --- #}
                <div class="separation"></div>
                <h3>Billetterie / inscription</h3>
                <p>{{ event.pricinginfo.pricing }}</p>
                {% if event.ticketLink > '' %}
                    <p><a href="{{ event.ticketLink }}" class="btn btn-default" role="button" target="_blanc">Accéder à la billetterie</a></p>
                {% endif %}

                {# --- organisateur -------------------------------------------------------- #}
                <div class="separation"></div>
                <h3>Organisé par</h3>
                <p>
                    {% if event.author.imageUrl is not empty %}
                       <img class="little-img" src="{{ event.author.imageUrl }}" alt="image organisateur {{ event.author.name }}" />
                    {% endif %}
                    {{ event.author.name }} {{ event.author.firstname }}
                </p>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/showevent.js') }}"></script>
    <script>

        function initMap(){
            var centerMap = new google.maps.LatLng('{{ event.latitude }}', '{{ event.longitude }}');
            var optionsMap = {
                zoom: 14,
                center: centerMap,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var myMap = new google.maps.Map(document.getElementById("mapzone"), optionsMap);
            var optionsMarqueur = {
                position: centerMap,
                map: myMap,
                title: "{{ event.placename }}"
            }
            var marqueur = new google.maps.Marker(optionsMarqueur);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5FbMBpVejJw6o_4r3eHkUQQde6vlDItg&callback=initMap" async defer></script>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
{% endblock %}
