{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/eventstyle.css') }}">
{% endblock %}

{% block body %}


    <header>
        <div class="header-content">
            <div class="header-content-inner">

                <h2>Nouvel évènement</h2>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('event_list') }}" class="btn btn-default btn-xs" type="button">Retour à la liste</a>
                    </div>
                </div>
                <hr>

                {% if error == '' %}

                    {#{{ form_start(form, {'attr': {'class': 'fos_user_registration_register'}}) }}#}
                    {{ form_start(form) }}

                        <h3>Description de l'évènement</h3>

                        <input type="hidden" name="status" value="1">

                        {# provisoire #}
                        <input type="hidden" name="link" value="">
                        <input type="hidden" name="image" value="">
                        <input type="hidden" name="latitude" value="0.0">
                        <input type="hidden" name="longitude" value="0.0">

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-6 text-right">
                                {{ form_label(form.title, '* Nom') }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 form-control">
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control ecart-bas', 'onkeydown': 'clearHtml("errortitle");'} }) }}
                            </div>
                            {#<div class="col-xs-12 text-center">#}
                                <span class="erreur" id="errortitle"> {{ form_errors(form.title)|striptags }} </span>
                            {#</div>#}
                        </div>


                    <br /><br /><br /><br /><br />


                        <div class="row form_group">
                            {{ form_label(form.description, '* Description succincte') }}
                            <div class="col-sm-6">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control ecart-bas', 'onkeydown': 'clearHtml("errordesc");'} }) }}
                            </div>
                            <span class="erreur" id="errordesc"> {{ form_errors(form.description)|striptags }} </span>
                        </div>

                        <div class="form_group">
                            {{ form_label(form.freeText, 'Description détaillée') }}
                            <div class="col-sm-6">
                                {{ form_widget(form.freeText, { 'attr': {'class': 'form-control ecart-bas'} }) }}
                            </div>
                        </div>

                        {#<div class="form_group">#}
                            {#{{ form_label(form.tags, 'Mots-clé') }}#}
                            {#<div class="col-sm-6">#}
                                {#{{ form_widget(form.tags, { 'attr': {'class': 'ecart-bas'} }) }}#}
                            {#</div>#}
                        {#</div>#}

                    {# --- locations ---------------------------------------------------------------------- #}
                        {#<hr>#}
                        {#<h3>Description du lieu</h3>#}


                        {#<div class="form_group">#}
                            {#{{ form_label(form.placename, '* Nom du lieu') }}#}
                            {#<div class="col-sm-6">#}
                                {#{{ form_widget(form.placename, { 'attr': {'class': 'ecart-bas', 'onkeydown': 'clearHtml("errorplacename");'} }) }}#}
                            {#</div>#}
                            {#<span class="erreur" id="errorplacename"> {{ form_errors(form.placename)|striptags }} </span>#}
                        {#</div>#}


                            {#<div class="separation"></div>#}
                            {#<h4>Description du lieu</h4>#}





                            {#{{ form_label(form.address, '* Adresse complète') }}#}
                            {#<span class="erreur" id="erroraddr"> {{ form_errors(form.address)|striptags }}</span>#}
                            {#<span id="addrmessage"></span>#}
                            {#{{ form_widget(form.address, { 'attr': {'class': 'form-control ecart-bas', 'onkeydown': 'clearHtml("addrmessage");clearHtml("erroraddr");', 'onfocusout': 'scanAddress();'} }) }}#}
                            {#<input type="hidden" name="latitude" id="latitude" value="">#}
                            {#<input type="hidden" name="longitude" id="longitude" value="">#}

                            {#{{ form_label(form.pricingInfo, 'Informations sur la tarification') }}#}
                            {#{{ form_widget(form.pricingInfo, { 'attr': {'class': 'form-control ecart-bas'} }) }}#}

                            {#{{ form_label(form.ticketLink, 'Lien vers la billetterie') }}#}
                            {#{{ form_widget(form.ticketLink, { 'attr': {'class': 'form-control ecart-bas'} }) }}#}

                            {# --- dates -------------------------------------------------------------------------- #}
                            {#<div class="separation"></div>#}
                            {#<h4>Date(s) de l'évènement</h4>#}
                            {#{% for evtDate in form.evtDates %}#}

                                {#{{ form_label(evtDate.evtDate, '* Date de l\'évènement') }}#}
                                {#<span class="erreur" id="errorevtdate{{ loop.index }}"> {{ form_errors(evtDate.evtDate)|striptags }} </span>#}
                                {#{{ form_widget(evtDate.evtDate, { 'attr': {'class': 'form-control ecart-bas'} }) }}#}

                                {#{{ form_label(evtDate.timeStart, '* Horaire de début') }}#}
                                {#<span class="erreur" id="errortstart{{ loop.index }}"> {{ form_errors(evtDate.timeStart)|striptags }} </span>#}
                                {#{{ form_widget(evtDate.timeStart, { 'attr': {'class': 'form-control ecart-bas'} }) }}#}

                                {#{{ form_label(evtDate.timeEnd, '* Horaire de fin') }}#}
                                {#<span class="erreur" id="errortend{{ loop.index }}"> {{ form_errors(evtDate.timeEnd)|striptags }} </span>#}
                                {#{{ form_widget(evtDate.timeEnd, { 'attr': {'class': 'form-control ecart-bas'} }) }}#}

                            {#{% endfor %}#}




                        {#</div>#}
                    {#</div>#}

                    {#<div class="row">#}
                        {#<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-group text-center">#}
                            {#<button class="btn btn-default type="submit">Créer</button>#}
                            {#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
                            {#<a class="btn btn-default" href="{{ path('event_list') }}">Abandonner</a>#}
                        {#</div>#}
                    {#</div>#}

                    {{ form_end(form) }}

                {% else %}

                    <div class="row">
                        <div class="col-xs-12 erreur text-center">
                            {{ error }}
                        </div>
                    </div>

                {% endif %}

            </div>
        </div>
    </header>





{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/newevent.js') }}"></script>
    {#<script>geocoder = new google.maps.Geocoder();</script>#}
{% endblock %}