{# --- app/Resources/views/agenda/eventView.html.twig --- #}

{% extends 'layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12 text-center">
        <a href="{{ path('event_list') }}" class="btn btn-default" type="button">Retour à la liste</a>
    </div>

    {% if error == '' %}

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="thumbnail" src="{{ event.image }}" alt="{{ event.title.fr }}" />
                    <div class="caption">
                        <h3>{{ event.title.fr }}</h3>
                        <p>{{ event.description.fr }}</p>
                        {% set eventUrl = 'https://openagenda.com/' ~ agendaSlug ~ '/events/' ~ event.link|split('/')|last %}
                        <p><a href="{{ eventUrl }}" class="btn btn-primary" role="button" target="_blanc">Voir sur Open Agenda</a></p>
                    </div>
                </div>
            </div>


    {% else %}

        <div class="col-xs-12 erreur text-center">
            {{ error }}
        </div>

    {% endif %}

</div>
{% endblock %}
