{% extends 'layoutAdmin.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}


{% block body %}
    <div class="container font-lato">

        <table class="tabadmin font-lato">
            <tbody>
            {% for company in companies %}
            <tr>
                <th>Contactemail</th>
                <td>{{ company.contactEmail }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ company.city }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ company.postalCode }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ company.adress }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ company.phone }}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ company.imageUrl }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ company.pdf }}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('company_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('company_edit', { 'id': company.id }) }}">Edit</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{{ path('company_new') }}">Create a new company</a>
            </li>
        </ul>
        {% endfor %}
    </div>


{% endblock %}
