{% extends 'layoutadmin.html.twig' %}

{% block body %}
<div class="container font-lato">
    <h1 class="titreadmin font-lato">CONTENUS</h1>
    <table>
        <thead>
            <tr class="text-center">
                <th class="text-center">TITRE</th>
                <th class="text-center">CONTENU</th>
                <th class="text-center">DERNIERE MODIFICATION</th>
                <th class="text-center">ACTIONS</th>
            </tr>
        </thead>
    </table>
    <table>
        <tbody>
        {% for pageContent in pageContents %}
            <tr>
                <td>{{ pageContent.title }}</td>
                <td>{{ pageContent.content[:200] ~ '...'}}</td>
                <td>{% if pageContent.lastModif %}{{ pageContent.lastModif|date('d/m/Y') }}{% endif %}</td>
                <td>
                            <a href="{{ path('pagecontent_show', { 'id': pageContent.id }) }}"><button type="button" value="VOIR L\'ARTICLE">VOIR L'ARTICLE</button></a><br/><br/>

                            <a href="{{ path('pagecontent_edit', { 'id': pageContent.id }) }}"><button type="button" value="MODIFIER">MODIFIER</button></a>

                </td>
            </tr>
        {% endfor %}
        <hr>
        </tbody>
    </table>

            <br/>
            <a href="{{ path('pagecontent_new') }}"><button type="button" value="CREATION DE CONTENU">+</button></a>
</div>

{% endblock %}
