{% extends 'layoutAdmin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/summernote.css') }}">
{% endblock %}

    {% block body %}
<div class="container font-lato">
    <h1 class="titreadmin font-lato">NOUVEAU CONTENU</h1>
    <hr>
    <br>
    <a href="{{ path('pagecontent_index') }}"><button type="button" value="REVENIR A LA LISTE DES CONTENUS">REVENIR A LA LISTE DES CONTENUS</button></a>


    {{ form_start(form) }}
        {{ form_errors(form) }}

    {{ form_label(form.title) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}

    {{ form_label(form.content) }}
    {{ form_errors(form.content) }}
    {{ form_widget(form.content) }}


        {{ form_widget(form) }}
        <input type="submit" value="ENREGISTRER" />

    {{ form_end(form) }}


</div>

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/summernote.js') }}"></script>
        <script src="{{ asset('http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js') }}"></script>
{% endblock %}