{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagecontent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pageContent.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ pageContent.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ pageContent.content }}</td>
            </tr>
            <tr>
                <th>Lastmodif</th>
                <td>{% if pageContent.lastModif %}{{ pageContent.lastModif|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pagecontent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pagecontent_edit', { 'id': pageContent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
