{% extends 'layoutAdmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleonoffbutton.css') }}">
{% endblock %}

{% block body %}
    <div class="container font-lato">
        <h1 class="titreadmin font-lato">MEMBRES</h1>
        <table>
            <thead>
            <tr class="text-center admin">
                <th class="text-center">NOM</th>
                <th class="text-center">PRENOM</th>
                <th class="text-center">MEMBRE DE CONFIANCE</th>
                <th class="text-center">STATUT</th>
                <th class="text-center">ACTION</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="admin">{{ user.name }}</td>
                    <td class="admin">{{ user.firstname }}</td>
                    <td class="admin">
                        {% if user.trust == 0 %}
                        {% set trustcolor='red' %}
                        {% else %}
                        {% set trustcolor = 'green' %}
                        {% endif %}
                        <a href="{{ path('membertrust', {'id': user.id}) }}">
                            <button class="onoff {{ trustcolor }}"></button></a>
                    </td>

                    <td class="admin">{{ user.roles.0 }}</td>
                    <td class="admin">
                        {#<select>#}
                            {#<option>ROLE_USER</option>#}
                            {#<option>ROLE_ADHERENT</option>#}
                            {#<option>ROLE_MODERATOR</option>#}
                            {#<option>ROLE_ADMIN</option>#}
                        {#</select>#}
                        {#<input type="submit" value="Ok">#}

                        {#{{ form_start(form) }}#}
                        {#<div class="form-hidden">{{ form_label(form.Roles) }}</div>#}
                        {#{{ form_widget(form.Roles) }}#}
                        {#{{ form_widget(form.Ok) }}#}
                        {#{{ form_end(form) }}#}

                        <a data-toggle="modal" href="#promote"><button type="button" value="MODIFIER" class="pull-right">PROMOUVOIR</button></a>
                        <div class="modal fade" id="promote">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Promouvoir {{ user.name }} {{ user.firstname }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {#{{ form_start(form) }}#}
                                        {#<div class="form-hidden">{{ form_label(form.Roles) }}</div>#}
                                        {#{{ form_widget(form.Roles) }}#}
                                        {#{{ form_widget(form.Ok) }}#}
                                        {#{{ form_end(form) }}#}
                                        {#<form action="{{ path('membertrust', {'id': user.id}) }}" method="get">#}
                                            {#<select>#}
                                                {#<option>ROLE_USER</option>#}
                                                {#<option>ROLE_ADHERENT</option>#}
                                                {#<option>ROLE_MODERATOR</option>#}
                                                {#<option>ROLE_ADMIN</option>#}
                                            {#</select>#}
                                            {#<input type="submit" value="Ok">#}
                                        {#</form>#}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>


                </tr>
            {% endfor %}
            <hr>
            </tbody>
        </table>
    </div>



{% endblock %}
