{% extends 'layoutAdmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleOnOffButton.css') }}">
{% endblock %}

{% block body %}
    <div class="container font-lato">
        <h1 class="titreadmin font-lato">MEMBRES</h1>

        <div class="text-center">

            <nav class="AlphabetNav">
                <a id="AlphabetNavAll" href="">TOUS</a>
                {%  for letter in 'A'..'Z' %}
                    <a href="">{{ letter }}</a>
                {% endfor %}
            </nav>
        </div>

        <div class="table-responsive">
            <table>
                <thead>
                <tr class="text-center admin">
                    <th class="text-center">NOM</th>
                    <th class="text-center">PRENOM</th>
                    <th class="text-center">MEMBRE DE CONFIANCE</th>
                    <th class="text-center">ROLE</th>
                    <th class="text-center">ACTION</th>
                    <th class="text-center">DESACTIVÉ</th>
                    <th class="text-center">MOT DE PASSE</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="showMember">
                        <td class="admin memberName">{{ user.name | upper }}</td>
                        <td class="admin">{{ user.firstname |capitalize }}</td>
                        <td class="admin">
                           <a href="{{ path('member_trust', {'id': user.id}) }}">
                                <button class="onoff {{ user.trust == 0 ? 'grey' : 'green' }}">
                                    {{ user.trust == 0 ? 'NON' : 'OUI' }}
                                </button></a>
                        </td>
                        <td class="admin">{{ txtRoles[user.roles.0] }}</td>
                        <td class="admin">
                            <button type="button" class="button-admin" data-toggle="modal" data-target="#roleModal"
                                    data-id="{{ user.id }}" data-name="{{ user.name }}"
                                    data-firstname="{{ user.firstname }}">MODIFIER</button>
                        </td>
                        <td class="admin">
                            <a href="{{ path('member_enabled', {'id': user.id}) }}">
                                <button class="onoff {{ user.enabled == false ? 'green' : 'grey' }}">
                                    {{ user.enabled == false ? 'OUI' : 'NON' }}
                                </button></a>
                        </td>
                        <td class="admin">
                            <a href="">
                                <button type="button" class="button-admin">
                                    REINITIALISER
                                </button></a>
                        </td>
                    </tr>
                {% endfor %}
                <hr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="roleModal">
        <div class="modal-dialog modal-sm text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title font-lato"></h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    <div class="form-hidden">{{ form_label(form.Roles) }}</div>
                    {{ form_widget(form.Roles) }}
                    {{ form_widget(form.Id) }}
                    {{ form_widget(form.Ok) }}
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var firstname = button.data('firstname');
            var modal = $(this);
            modal.find('.modal-title').text('Modifier le role de  ' + name + ' ' + firstname);
            modal.find('#numobundle_promote_Id').val(id)
        })
    </script>
    <script src="{{ asset('js/member.js') }}"></script>

{% endblock %}


