{% extends 'layout.html.twig' %}
{% block body %}

    {# --- titre ---#}
    <div class="col-xs-12 text-center">
        <div class="separation"></div>
        <h1>L'association</h1>
        <div class="separation"></div>
    </div>

    <div class="container-fluid company">

        <div class="row">
            <div class="col-lg-offset-2 col-lg-5">
                <h2>{{ company.presentationTitle }} <hr> </h2>
                <p>{{ company.presentationContent }}</p>
                <div class="row companyBottom">
                    <div class="col-lg-offset-4">
                        <a href="{{ path('fos_user_registration_register') }}" type="button" class="btn btn-default">S'inscrire</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-2">
                <h2>Coordonnées <hr> </h2>
                <p>{{ company.phone }}</p>
                <p>{{ company.city }} {{ company.postalCode }}</p>
                <p>{{ company.address }}</p>
                <p>{{ company.contactEmail }}</p>
                {#<img src="{{ company.imageUrl }}" alt="Numo" style="width:200px">#}
                <img src="{{ asset('img/NUMOsmall.png') }}" class="img-responsive" alt="numo logo" style="width: 200px">

            </div>
        </div>

    </div>

{% endblock %}