{% extends 'layout.html.twig' %}
{% block body %}

    {# --- titre ---#}
    <div class="col-xs-12 text-center">
        <h1 class="title-view">L'association</h1>
        <div class="separation barreRed"></div>
    </div>

    <div class="container-fluid company">

        <div class="row">
            <div class="col-lg-offset-2 col-lg-5">
                <h2 class="sub-title-view">{{ company.presentationTitle }} <hr> </h2>
                <p class="content-view">{{ company.presentationContent }}</p>
                <div class="row companyBottom">
                        <a href="{{ path('fos_user_registration_register') }}" type="button" class="btn btn-default btn-lg btnrouge">S'INSCRIRE</a>
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-2 contact-view">
                <h2 class="sub-title-view">Coordonnées <hr> </h2>
                <p>{{ company.phone }}</p>
                <p>{{ company.city }} {{ company.postalCode }}</p>
                <p>{{ company.address }}</p>
                <p>{{ company.contactEmail }}</p>
                <img src="{{ asset('img/NUMOsmall.png') }}" class="img-responsive" alt="numo logo">

            </div>
        </div>

    </div>

{% endblock %}