{% extends 'layout.html.twig' %}
{% block body %}

<div class="container-fluid ">

    <div class="row imgHeader bg-1 text-center">
        <div class="col-sm-offset-3 col-sm-6">
            <img class="img-responsive imgHeader" src="{{ asset('img/NUMO.png') }}">
            <a href="{{ path('event_list_published') }}" class="btn btn-default btnwhite">CONSULTER L'AGENDA</a>
        </div>
    </div>


    <!-- Begin MailChimp Signup Form -->
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 mailChimp">
            <div id="mc_embed_signup">
                <form action="//num-o.us16.list-manage.com/subscribe/post?u={{ mailChimpApi }};id=de68ca6632" method="post"
                      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                      novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL" class="font-lato">S'INSCRIRE A NOTRE NEWSLETTER</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Adresse email"
                               required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div class="mailChimpStyle" aria-hidden="true"><input type="text"
                                                                              name="b_116816a1a91c3fc902cbe3388_de68ca6632"
                                                                              tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="INSCRIPTION" name="subscribe"
                                                  id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End mc_embed_signup-->

    <div class="row zoneRed text-center">
        <div class="col-lg-offset-5 col-lg-2 banner">
            <h3 class="titreindex font-lato">Num'0</h3>
        </div>
        <div class="col-lg-offset-3 col-lg-6 banner2">
            <p class="desc">L'association Num'O a été créée, pour soutenir et promouvoir la nouvelle économie sur le territoire Orléanais.<br/>
                Num'O a pour ambition de mettre du liant entre les différentes structures existantes et de donner plus de poids à cette nouvelle économie en pleine croissance.<br/>
                Num'O mise sur le collaboratif et un large spectre d’adhérents : particuliers, entreprises, associations, étudiants, collectivités.<br/>
                Rejoignez-nous !!!
            </p>
            <a href="{{ path('become_adherent') }}" class="btn btn-defaut btn-lg btnwhite2">
                DEVENEZ ADHERENT
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row index_list-events text-center">
            {% if error is empty %}
                {% for event in events %}
                    {% if loop.index < 7 %}
                        <div class="col-lg-4 col-sm-6">
                            <a href="{{ path('event_show_published', {'id': event.id}) }}">
                                <div class="thumbnail">
                                    <img class="imageEvents" src="{{ event.image }}" alt="{{ event.title }}">
                                    <div class="caption">
                                        <h3>{{ event.title }}</h3>
                                        <h4>{{ event.newDates[0].evtDate|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}</h4>
                                        <p>{{ event.description }}</p>
                                        <p>{{ event.address }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="col-xs-12 text-center">
                    <h3>Une erreur s'est produite lors de la lecture des prochains évènements, rendant la liste indisponible.</h3>
                    <p><a href="{{ path('index') }}" class="btn btn-default btn-txt" role="button">Recharger la page</a></p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row text-center zoneDarkRed">
        <div class="col-lg-offset-4 col-lg-4 banner">
            <h3 class="dark font-lato">Les événements</h3>
        </div>
        <div class="col-lg-offset-3 col-lg-6 banner2">
            <p class="desc">Num'O propose de rendre plus visibles tous les projets liés au numérique et d'apporter une logistique aux événements organisés sur Orléans.<br/>
                C'est dans cette logique que Num'O a contribué dès 2017 à l'organisation des deux Startup WeekEnd Orléans.
            </p>
            <a href="{{ path('event_list_published') }}" class="btn btnwhite btn-lg">VOIR PLUS</a>
        </div>
    </div>

    <div class="footer-top text-center">
        <h4 class="partner">Nos partenaires</h4>

        <div class="container">
            <div class="row text-center partnaire">
                {% for partner in partners if partner.active == 1 %}
                    {% if partners|length == 1 %}
                        <div class="col-xs-12">
                            <a target="_blank" href="{{ partner.webUrl }}" class="thumbnail thumbnail-div partner-responsive">
                                <img src="{{ asset('uploads/users/' ~ partner.imageUrl ) }}"
                                     class="img-responsive" alt="{{ partner.name }}">
                            </a>
                        </div>
                    {% elseif partners|length == 2 %}
                        <div class="col-md-6 col-xs-6">
                            <a target="_blank" href="{{ partner.webUrl }}" class="thumbnail thumbnail-div partner-responsive">
                                <img src="{{ asset('uploads/users/' ~ partner.imageUrl ) }}"
                                     class="img-responsive" alt="{{ partner.name }}">
                            </a>
                        </div>
                    {% elseif (partners|length == 3) or (partners|length == 5) or (partners|length == 6) %}
                        <div class="col-md-4 col-xs-6">
                            <a target="_blank" href="{{ partner.webUrl }}" class="thumbnail thumbnail-div partner-responsive">
                                <img src="{{ asset('uploads/users/' ~ partner.imageUrl ) }}"
                                     class="img-responsive" alt="{{ partner.name }}">
                            </a>
                        </div>
                    {% elseif (partners|length == 4) or (partners|length == 7) or (partners|length == 8) %}
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <a target="_blank" href="{{ partner.webUrl }}" class="thumbnail thumbnail-div partner-responsive">
                                <img src="{{ asset('uploads/users/' ~ partner.imageUrl ) }}"
                                     class="img-responsive" alt="{{ partner.name }}">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


    {#{% block javascripts %}#}
        {#{{ parent() }}#}
        {#<script src="{{ asset('js/caroussel.js') }}"></script>#}
    {#{% endblock %}#}