{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    {# --- titre ---#}
    <div class="col-xs-12 text-center">
            <h1 class="title-view">Contact</h1>
        <div class="separation barreYellow "></div>
    </div>

    <div class="container-fluid contact">
        <div class="col-lg-offset-2 col-lg-5">
            <h2 class="sub-title-view">Laissez nous un commentaire <hr></h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-default btn-lg  btngreen" value="Envoyer"/>
            {{ form_end(form) }}
        </div>

        <div class="col-lg-offset-1 col-lg-2 contact-view">
            <h2 class="sub-title-view">Coordonnées <hr></h2>
            <p>{{ company.phone }}</p>
            <p>{{ company.city }} {{ company.postalCode }}</p>
            <p>{{ company.address }}</p>
            <p>{{ company.contactEmail }}</p>
            <a href="{{ path('association') }}">Mieux nous connaitre</a>
            <img src="{{ company.imageUrl }}" class="img-responsive imageNumoLogo" alt="numo logo">
        </div>
    </div>

{% endblock %}

