{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="col-lg-offset-2 col-lg-5">
            <h2>Laissez votre commentaire <hr></h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Envoyer"/>
            {{ form_end(form) }}
        </div>






        <div class="col-lg-offset-1 col-lg-2">
            <h2>Coordonnées <hr></h2>

            <p>{{ company.phone }}</p>
            <p>{{ company.city }} {{ company.postalCode }}</p>
            <p>{{ company.adress }}</p>
            <p>{{ company.contactEmail }}</p>
        </div>
    </div>

{% endblock %}

