{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    {# --- titre ---#}
    <div class="col-xs-12 text-center">
        <div class="separation"></div>
            <h1>Contact</h1>
        <div class="separation"></div>
    </div>

    <div class="container-fluid contact">
        <div class="col-lg-offset-2 col-lg-5">
            <h2>Laissez votre commentaire <hr></h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Envoyer"/>
            {{ form_end(form) }}
        </div>

        <div class="col-lg-offset-1 col-lg-2">
            <h2>Coordonnées <hr></h2>
            <p>{{ company.phone }}</p>
            <p>{{ company.city }} {{ company.postalCode }}</p>
            <p>{{ company.adress }}</p>
            <p>{{ company.contactEmail }}</p>
            <a href="{{ path('association') }}">Mieux nous connaitre</a>
            {#<img src="{{ company.imageUrl }}" alt="Numo" style="width:200px">#}
            <img src="{{ asset('img/NUMOsmall.png') }}" class="img-responsive" alt="numo logo" style="width: 200px">


        </div>
    </div>

{% endblock %}

