{% extends 'layout.html.twig' %}
{% block body %}


    <div class="container-fluid profileUser">

        <div class="col-xs-12 text-center">
            <div class="separation"></div>
            <h1>{{ user.name }} {{ user.firstname }}</h1>
            <div class="separation"></div>
        </div>

        <div class="row">
            <div class="col-lg-offset-1 col-lg-2">
                {% if user.imageUrl == null %}
                    <img class="imagePlaceholder" src="{{ asset('img/person_placeholder.png') }}" alt="placeholder">
                {% else %}
                    <img class="imageProfileMember" src="{{ asset('uploads/users/' ~ user.imageUrl.filename) }}"
                         alt="{{ user.name }}">
                {% endif %}
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <h2>{{ user.website }}</h2>
                    <p>{{ user.description }}</p>
                </div>
            </div>
        </div>

        <div class="row iconContact">
            {% if user.facebook != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <a target="_blank" href="{{ user.facebook }}">
                        <img src="{{ asset('/img/rs-facebook.png') }}" alt="facebook" class="rs-button"/>
                    </a>
                </div>
                <div class="col-lg-1">
                    <h3>{{ user.facebook }}</h3>
                </div>
            {% endif %}

            {% if user.twitter != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <a href="{{ user.twitter }}" target="_blank">
                        <img src="{{ asset('/img/rs-twitter.png') }}" alt="twitter" class="rs-button"/>
                    </a>
                </div>
                <div class="col-lg-1">
                    <h3><a href="{{ user.twitter }}" target="_blank"></a>{{ user.twitter }}</h3>
                </div>
            {% endif %}

            {% if user.linkedin != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <a href="{{ user.linkedin }}" target="_blank">
                        <img src="{{ asset('/img/rs-linkedin.png') }}" alt="linkedin" class="rs-button"/>
                    </a>
                </div>
                <div class="col-lg-1">
                    <h3>{{ user.linkedin }}</h3>
                </div>
            {% endif %}
        </div>
        <div class="row iconContact">
            {% if user.email != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <img src="{{ asset('/img/mail.png') }}" alt="email" class="rs-button"/>
                </div>
                <div class="col-lg-1">
                    <h3>{{ user.email }}</h3>
                </div>
            {% endif %}

            {% if user.phone != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <img src="{{ asset('/img/tel.png') }}" alt="telephone" class="rs-button"/>
                </div>
                <div class="col-lg-2">
                    <h3>{{ user.phone }}</h3>
                </div>
            {% endif %}

            {% if user.webSite != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <img src="{{ asset('/img/internet.png') }}" alt="site web" class="rs-button"/>
                </div>
                <div class="col-lg-2">
                    <h3>{{ user.webSite }}</h3>
                </div>
            {% endif %}
        </div>

        <div class="col-xs-12 text-center">
            <div class="separation"></div>
        </div>

        <div class="text-center">
            <h2>Mes événements</h2>
        </div>
        {% if user.events | length != 0 %}
            <div class="container-fluid">
                {% for event in user.events %}
                    <div class="row no-gutter popup-gallery">
                        <div class="col-lg-4 col-sm-6">
                            <a href="{{ path('event_show_published', {'id': event.id}) }}"
                               class="portfolio-box">
                                <img class="imageEvents img-responsive" src="{{ user.event.image }}"
                                     class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            <h2>{{ user.event.title }}</h2>
                                        </div>
                                        <div class="project-name">
                                            {{ user.event.description }}
                                        </div>
                                        <p> {{ user.event.address }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% if oaevents is not empty %}
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                {% for oaevent in oaevents %}
                    <div class="col-lg-4 col-sm-6">
                        <a href="{{ path('event_show_published', {'id': oaevent.id}) }}"
                           class="portfolio-box">
                            <img class="imageEvents img-responsive" src="{{ oaevent.image }}"
                                 class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        <h2>{{ oaevent.title }}</h2>
                                    </div>
                                    <div class="project-name">
                                        {{ oaevent.description }}
                                    </div>
                                    <p> {{ oaevent.address }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}