{% extends 'layout.html.twig' %}
{% block body %}


    <div class="container-fluid profileUser">

        <div class="col-xs-12 text-center">
            <h1 class="title-view">{{ user.name }} {{ user.firstname }}</h1>
            <div class="separation barreGreen"></div>
        </div>

        <div class="row">
            <div class="col-lg-offset-1 col-lg-2">
                {% if user.imageUrl == null %}
                    <img class="imagePlaceholder" src="{{ asset('img/person_placeholder.png') }}" alt="placeholder">
                {% else %}
                    <img class="imageProfileMember" src="{{ asset('uploads/users/' ~ user.imageUrl.filename) }}"
                         alt="{{ user.name }}">
                {% endif %}
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <h2>{{ user.website }}</h2>
                    <p>{{ user.description }}</p>
                </div>
            </div>
        </div>

        <div class="row iconContact">
            {% if user.facebook != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <a target="_blank" href="{{ user.facebook }}">
                        <img src="{{ asset('/img/rs-facebook.png') }}" alt="facebook" class="rs-button"/>
                    </a>
                </div>
                <div class="col-lg-1">
                    <h3>{{ user.facebook }}</h3>
                </div>
            {% endif %}

            {% if user.twitter != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <a href="{{ user.twitter }}" target="_blank">
                        <img src="{{ asset('/img/rs-twitter.png') }}" alt="twitter" class="rs-button"/>
                    </a>
                </div>
                <div class="col-lg-1">
                    <h3><a href="{{ user.twitter }}" target="_blank"></a>{{ user.twitter }}</h3>
                </div>
            {% endif %}

            {% if user.linkedin != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <a href="{{ user.linkedin }}" target="_blank">
                        <img src="{{ asset('/img/rs-linkedin.png') }}" alt="linkedin" class="rs-button"/>
                    </a>
                </div>
                <div class="col-lg-1">
                    <h3>{{ user.linkedin }}</h3>
                </div>
            {% endif %}
        </div>
        <div class="row iconContact">
            {% if user.email != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <img src="{{ asset('/img/mail.png') }}" alt="email" class="rs-button"/>
                </div>
                <div class="col-lg-1">
                    <h3>{{ user.email | replace ({'@' : '[at]'}) }}</h3>
                </div>
            {% endif %}

            {% if user.phone != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <img src="{{ asset('/img/tel.png') }}" alt="telephone" class="rs-button"/>
                </div>
                <div class="col-lg-2">
                    <h3>{{ user.phone }}</h3>
                </div>
            {% endif %}

            {% if user.webSite != null %}
                <div class="col-lg-offset-1 col-lg-1">
                    <img src="{{ asset('/img/internet.png') }}" alt="site web" class="rs-button"/>
                </div>
                <div class="col-lg-2">
                    <h3>{{ user.webSite }}</h3>
                </div>
            {% endif %}
        </div>

        <div class="col-xs-12 text-center">
            <div class="separation"></div>
        </div>

    {% if oaevents is not empty %}
        <div class="text-center">
            <h2>Mes événements</h2>
            <div class="separation barreGreen"></div>
        </div>

        <div class="row index_list-events text-center">
            {% for oaevent in oaevents %}
                    <div class="col-lg-4 col-sm-6">
                        <a href="{{ path('event_show_published', {'id': oaevent.id}) }}">
                            <div class="thumbnail text-center">
                                <img class="img-responsive" src="{{ oaevent.image }}" alt="{{ oaevent.title }}">
                                <div class="caption">
                                    <h3 class="eventtitle">{{ oaevent.title|upper }}</h3>
                                    <h4 class="eventtitle">  {{ oaevent.address }}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}